<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Employee Management System</title>
</head>
<body>
   <h2 >Employee Management System</h2>
   <table border="1">
    <thead >
      <tr>
              <th>Employee ID</th>
              <th>Employee Name</th>
              <th>Work Time</th>
      </tr>
    </thead>
    
     <tr>
       <td>
         21332
       </td>
       <td>
         suresh
       </td>
       <td>
         10am-8pm
       </td>
     </tr>
   </table> 
</body>
</html>
